# Environment variables
.env
.env.local

# Dependencies
node_modules

# Build output
dist

# Logs
*.log

# Uploaded files
uploads

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Demucs model cache
.cache
models
*.pt
*.pth

# Separated audio files
separated
